.root {
  height: 100%;
  :global{
    .login-container {
      background: url('../../assets/images/login_bg.jpg') center;
      background-size: cover;
      height: 100%;

      .login-box {
        width: 400px;
        height: 270px;
        background-color: #fff;
        border-radius: 3px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0 20px;
        box-sizing: border-box;
        input::placeholder{
          font-size: 12px;
        }
        .title-box {
          height: 60px;
          background: url('../../assets/images/login_title.png') center no-repeat;
        }
        .LoginBtn{
          font-size: 12px;
        }
        .GoRegisterPage{
          font-size: 12px;
           padding: 10px 0 0 0 ;
        }
      }
    }
  }
}